﻿@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    @using (Html.BeginForm("Search", "Browser"))
    {
        <div class="row">
            <div class="col-md-3">
                @Html.TextBox("SearchString", "", "", new { @class = "form-control" })
            </div>
            <div class="col-md-3">
                <button type="submit">Search</button>
            </div>
        </div>
    }
</div>